body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url(../img/food-366875_640.jpg);

    /* background-color: #f4f4f4; */
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

#mural {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.lista {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.card {
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 300px; /* Ajuste a largura conforme necessário */
    
}

.card li {
    margin-bottom: 8px;
}

.card li:last-child {
    margin-bottom: 0;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}

/* Estilos adicionais para melhorar a aparência */
.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.card .nome {
    font-weight: bold;
    font-size: 1.1em;
}

.card .valor {
    color: green;
    font-weight: bold;
}