*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(178, 209, 199);
}

header,footer{
    width: 100%;
    padding: 30px 0px;
    background-color: rgb(6, 59, 6);
    color: azure;
    font-family: 'Times New Roman', Times, serif ;
}

header h2{
    /* float: flutuar para um lado! */
    float: left;
    margin-left: 20px;
}

nav{
    float: right;
    margin-right: 20px;
}

nav a{
    color: aliceblue;
    /* text decortion: decoração do texto */
    text-decoration: none ;
}

#banner{
    width:50%;
    height: 300px;
    /* bg-img - chama a imagem */
    background-image: url(../images/img1.jpg);
    /* background-repeat: no-repeat; */
    /* bg-size: Conrola o tamanho, pode usar % ou cover */
    background-size: 100%;
    /* bg-position- posição da img */
    background-position: center;
    margin:20px auto;
    text-align:center;
    color: rgb(237, 234, 229);
    line-height: 300px;
    border-radius: 5%;
}

footer{
    position:absolute;
    bottom:0%;
}

#SobreNos{
    width: 80%;
    background-color: rgb(253, 251, 231);
    border-radius: 10px;
    text-align: justify;
    box-shadow: 10px 10px 10px rgb(100, 137, 110);
    padding: 10px ;
    margin: 20px auto;
    color: rgb(144, 177, 155);
}

#img5{
    width: 80%;
    background-color: rgb(253, 251, 231);
    border-radius: 10px;
    margin: 150px;
}

.produto{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(236, 248, 238);
}

#catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produto img{
    width: 100%;
    border-radius: 15%;

}
